   .shhide {
  display: none;
}
.sh:hover + .shhide {
  display: block;
}
  .nchide {
  display: none;
}
.nc:hover + .nchide {
  display: block;
}
  .sthide {
  display: none;
}
   
.st:hover + .sthide {
  display: block;
}
 
 
.hchide {
  display: none;
}
   
.hc:hover + .hchide {
  display: block;
}
.vthide {
  display: none;
}
   
.vt:hover + .vthide {
  display: block;
}
  .ghhide {
  display: none;
}
   
.gh:hover + .ghhide {
  display: block;
}
  .dphide {
  display: none;
}
   
.dp:hover + .dphide {
  display: block;
}
  .gehide {
  display: none;
}
   
.ge:hover + .gehide {
  display: block;
}
  .nchide {
  display: none;
}
   
.nc:hover + .nchide {
  display: block;
}
  .mrhide {
  display: none;
}
   
.mr:hover + .mrhide {
  display: block;
}
  .andrahide {
  display: none;
}
   
.andra:hover + .andrahide {
  display: block;
}
  .kihide {
  display: none;
}
   
.ki:hover + .kihide {
  display: block;
}
  .pphide {
  display: none;
}
   
.pp:hover + .pphide {
  display: block;
}
  .avhide {
  display: none;
}
   
.av:hover + .avhide {
  display: block;
}
  .gbhide {
  display: none;
}
   
.gb:hover + .gbhide {
  display: block;
}
  .asshide {
  display: none;
}
   
.ass:hover + .asshide {
  display: block;
}
  .sphide {
  display: none;
}
   
.sp:hover + .sphide {
  display: block;
}
  .etshide {
  display: none;
}
   
.et:hover + .ethide {
  display: block;
}
  .snhide {
  display: none;
}
   
.sn:hover + .snhide {
  display: block;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}
 
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
 
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
 
.topnav a.active {
  background-color: #ff8c00;
  color: white;